
<a href="/"><img src='blockKnight.gif' height="200"></a>
<br>
<b>Cryptocurrency is cool.</b>
<br>
<br>
And it's only the beginning.
<br>
<br>
This site is dedicated to sifting through mountains
<br>
of useless information to come up with some hard facts
<br>
about what's coming in this space, who's bringing it,
<br>
and what it could mean to you.
