/* line 7, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.header {
  height: 100px;
  background: #2dc0ca;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
}

/* line 17, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.brand {
  position: absolute;
  top: 0px;
  left: 75px;
  float: left;
  line-height: 100px;
}
/* line 23, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.brand h1 {
  position: absolute;
  top: 0px;
  left: 75px;
  font-family: "Copperplate";
  font-size: 34px;
  color: black;
}
/* line 31, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.brand a:visited {
  color: #34aedc;
  text-decoration: none;
}
/* line 34, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.brand a:visited:hover {
  background-color: #2dc0ca;
}

/* line 40, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.marquee {
  position: absolute;
  top: 100px;
  height: 35px;
  width: 100%;
  border-top: 2px solid rgba(22, 186, 197, 0.2);
  border-bottom: 1px solid rgba(255, 255, 0, 0.3);
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
}

/* line 53, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.news_item {
  min-height: 35px;
  font-size: 20px;
  font-family: "Garamond";
  display: inline-block;
  margin-top: 3px;
  float: left;
  transition: all .2s ease-out;
}
/* line 61, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.news_item a:link {
  text-decoration: none;
  color: black;
}
/* line 66, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.news_item a:visited {
  text-decoration: none;
  color: black;
}
/* line 71, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.news_item a:hover {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.6);
}
/* line 76, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.news_item a:active {
  text-decoration: none;
}

/* line 81, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.marquee--inner {
  display: block;
  width: 200%;
  margin: 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

/* line 89, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
.marquee--inner:hover {
  animation-play-state: paused;
}

/* line 93, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/_header.scss */
span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
/* line 13, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.headline-cell {
  width: 105%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 85px;
  background: white;
  font-size: 24px;
  margin-bottom: 50px;
  padding: 15px;
}

/* line 24, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.divider {
  width: 100%;
  height: 5px;
  background-color: blue;
  opacity: .25;
}

/* line 31, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.col-1 {
  grid-column: 1;
}

/* line 34, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.col-2 {
  grid-column: 2;
}

/* line 37, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.col-3 {
  grid-column: 3;
}

/* line 40, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.col-4 {
  grid-column: 4;
}

/* line 43, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.col-5 {
  grid-column: 5;
}

/* line 47, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  font-family: "Palatino";
  padding-left: 200px;
  padding-right: 200px;
}
/* line 55, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.wrapper i {
  color: black;
  /*if no support for background-clip*/
}

/* line 60, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin-list-header {
  position: fixed;
  top: 135px;
  width: 100%;
  max-height: 22px;
  font-size: 20px;
  text-align: left;
  background: linear-gradient(to top right, rgba(0, 255, 0, 0.3), rgba(22, 186, 197, 0.4));
  color: #2dc0ca;
  padding-top: 4px;
}

/* line 72, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin-list-body {
  font-size: 40px !important;
  color: #191919;
}
/* line 75, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin-list-body .wrapper {
  align-items: center;
  justify-content: center;
}
/* line 79, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin-list-body .coin-list-body-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 82, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin-list-body a:link {
  color: #191919;
  text-decoration: none;
}
/* line 86, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin-list-body a:visited {
  color: #191919;
  text-decoration: none;
}
/* line 90, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin-list-body a:hover {
  background: #FFFFF2;
  color: #34aedc;
}

/* line 96, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.ribbon {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  background-image: url("/bookmark.png");
  background-size: contain;
  cursor: pointer;
}

/* line 106, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.ribbon_outline {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  background-image: url("/bookmark_border.png");
  background-size: contain;
  cursor: pointer;
}

/* line 116, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.tags {
  color: blue;
}

/* line 120, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.percent_change {
  font-style: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
}

/* line 126, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info {
  background-color: white;
  border-radius: 5px;
  height: 100%;
  margin: 100px;
}
/* line 131, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-head {
  color: #22537a;
  height: 90px;
  border-radius: 4px 4px 0px 0px;
  padding: 15px;
  background-color: rgba(22, 186, 197, 0.25);
  border-style: solid;
  border-width: 1px;
}
/* line 139, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-head .coin-head-left {
  position: relative;
  left: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 143, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-head .coin-head-left .coin-title {
  font-size: 32px;
}
/* line 146, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-head .coin-head-left .coin-symbol {
  color: #34aedc;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}
/* line 152, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-head .coin-head-right {
  position: absolute;
  right: 120px;
  top: 20px;
}
/* line 156, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-head .coin-head-right .coin-price {
  color: "black";
  font-size: 35px;
  font-family: 'Economica';
}
/* line 164, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body {
  padding: 30px;
  font-size: 24px;
}
/* line 168, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body strong {
  color: #5856d6;
}
/* line 171, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body header {
  width: 100% !important;
}
/* line 174, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body h1 {
  font-size: 75px;
}
/* line 177, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body h2 {
  font-size: 75px;
}
/* line 180, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body h3 {
  font-size: 65px;
}
/* line 183, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body section {
  width: 100% !important;
}
/* line 186, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body section p {
  font-size: 35px;
}
/* line 194, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body .follow_button {
  background-color: #dd3b4c;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
/* line 206, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body .unfollow_button {
  background-color: #f4bc26;
  /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
/* line 219, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body .news-box .news-item {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 350px;
  top: 0px;
  box-shadow: 5px 5px 2px grey;
  background-image: linear-gradient(#f4bc26, orange);
}
/* line 230, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/coins.scss */
.coin_info .coin-body .news-box .news-item img {
  padding-top: 10px;
}
/* line 5, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/feed_items.scss */
h1 {
  font-size: 24px;
}

/* line 8, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/feed_items.scss */
input[type=checkbox] {
  transform: scale(2);
}

/* line 12, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/feed_items.scss */
.feed {
  margin: 150px;
}

/* line 16, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/feed_items.scss */
.update_news_button {
  background-color: #dd3b4c;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

/* line 28, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/feed_items.scss */
.approve_button {
  background-color: #2dc0ca;
  /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
/* line 13, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/gallery.scss */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
@supports (display: grid) {
  /* line 13, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/gallery.scss */
  .gallery {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-auto-rows: minmax(100px, 200px);
    padding-top: 15px;
    padding-bottom: 100px;
  }
}

@supports not (display: grid) {
  /* line 32, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/gallery.scss */
  .gallery-cell {
    flex: 1 0 auto;
    flex-wrap: wrap;
    margin: 5rem;
  }
}
/* line 39, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/gallery.scss */
.gallery-cell {
  border: 1px solid #333;
  background-color: #dd3b4c;
  background-size: cover;
}
/* line 44, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/gallery.scss */
.gallery-cell:before {
  background: rgba(200, 26, 100, 0.6);
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
/* line 2, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/news.scss */
.news_container {
  margin: 100px;
}

/* line 6, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/news.scss */
.news_cell {
  padding-left: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 13, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/news.scss */
.news_description {
  font-size: 30px;
  width: 940px;
}
/* line 16, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/news.scss */
.news_description img {
  float: right;
  margin: 4px 10px 0px 0px;
  border: 1px solid #000000;
}
/* line 5, /Users/scolobey/Desktop/Projects/ruby_projects/block-knight/app/assets/stylesheets/sessions.scss */
.login {
  font-size: 22px;
  color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */


 /*Pallette
 //aqua
 color: #2dc0ca;
 //blue suede
 color: #22537a;
 //raspberry
 color: #dd3b4c;
 // purple
 color: #5856d6;
 //yellow
 color: #f4bc26;
 //blue
 color: #34aedc; */


 body {
     overflow-x: hidden;
 }

 #notice {
   color: #dd3b4c;
 }

 .site-wrap {
     min-width: 100%;
     min-height: 100%;
     background-color: ;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 0;
 }

 .main {
   display: block;
   margin: auto;
   width: 100%;
   position: relative;
   top: 150px;
   background-color: ;
 }

.nav-underlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #22537a;
  opacity: 0.5;
  z-index: 2;
}

.navigation {
    font-family: "Palatino";
    font-size: 24px;
    color: #5856d6;
    list-style: none;
    background: #2dc0ca;
    width: 300px;
    height: 100%;
    right: 0px;
    top: -30px;
    padding: 30px;
    box-shadow: -1px 0px 1px 1px #111;
    padding-top: 100px;
    position: fixed;
    z-index: 2;
}

.navigation a {
  color: #22537a;
  text-decoration: none;
}

.navigation hr {
    display: block;
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 0;
    border-top: 2px solid #f4bc26;
}

/*.navigation a:hover {
  background-color: #ffffff;
}*/

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 30px;
    right: 45px;
    z-index: 3;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url("/menu.png");
    background-size: contain;
}

input[type=checkbox]:not(:checked) ~ .navigation {
    right: -100%;
}

input[type=checkbox]:not(:checked) ~ .nav-underlay {
    left: 100%;
}

input[type=checkbox]:checked ~ .nav-underlay {
    overflow: hidden;
}

input[type=checkbox]:checked ~ .site-wrap {
    position: fixed;
}

input[type=checkbox]:checked ~ label[for="nav-trigger"] {
    background-image: url("/close.png");
}
/*
 * CSS File of Material icons.
 * CSS code based on:
 * https://google.github.io/material-design-icons/#icon-font-for-the-web
 */






/* Use the font */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/MaterialIcons-Regular-8c998b4a9c0acbb9fe5dd572c206a5a33fdd5ca2b58db87fc3b893beac85068d.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/assets/MaterialIcons-Regular-a87d66c91b2e7dc5530aef76c03bd6a3d25ea5826110bf4803b561b811cc8726.woff2') format('woff2'),
       url('/assets/MaterialIcons-Regular-c4a1baec300d09e03a8380b85918267ee80faae8e00c6c56b48e2e74b1d9b38d.woff') format('woff'),
       url('/assets/MaterialIcons-Regular-b7f4a3ab562048f28dd1fa691601bc43363a61d0f876d16d8316c52e4f32d696.ttf') format('truetype');
}

/* Base class */
.material-icons,
.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18, .mi.md-18 { font-size: 18px; }
.material-icons.md-24, .mi.md-24 { font-size: 24px; }
.material-icons.md-36, .mi.md-36 { font-size: 36px; }
.material-icons.md-48, .mi.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark, .mi.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive, .mi.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light, .mi.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive, .mi.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules to rotate items */
.material-icons.r90, .mi.r90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.material-icons.r180, .mi.r180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.material-icons.r270, .mi.r270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.material-icons.flip-horizontal, .mi.flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.material-icons.flip-vertical, .mi.flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
