<p id="notice"><%= notice %></p>

<div class= "news_container">
  <div class= "news_header">
    Blog_
  </div>
  <div class= "news_header_shade">

  </div>

  <div class= "blog-list">
    <% @blog_posts.each do |blog_post| %>

        <div class="blog_cell">
          <img class="blog_cell_img" src=<%= blog_post.img %>>
          <div class="blog_cell_title">
            <%= link_to blog_post.title, blog_post %>
            <%= blog_post.description %>
          </div>
        </div>

    <% end %>
  </div>
</div>
