
<p id="notice"><%= notice %></p>

<p>
  <%= raw(@blog_post.content) %>
</p>

<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<% end %>
<%= link_to 'Back', blog_posts_path %>
