
$header-height: 100px;
$header-background: #2dc0ca;
$header-font-color: #34aedc;
$link-hover-color: #5856d6;

.header {
  height: $header-height;
  background: $header-background;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid #191919;
}

// Logo and branding
.brand {
  position: absolute;
  top: 0px;
  left: 75px;
  float: left;
  line-height: $header-height;
  h1 {
    position: absolute;
    top: 0px;
    left: 75px;
    font-family: "Copperplate";
    font-size: 24px;
    color: black;
  }
  a:visited {
    color: $header-font-color;
    text-decoration: none;
    &:hover {
      background-color: $header-background;
    }
  }
}
