$header-background: #fff;
$header-font-color: #34aedc;
$link-hover-color: #5856d6;

.header {
  width: 100% !important;
  background: white;
  opacity: 1;
  z-index: 4;
  position: fixed;
  border-bottom: 1px solid #d6e2eb;
  .search-bar {
    width: 200px;
    position: relative;
    padding-right: 15%;
    padding-top: 43px;
    float: right;
  }
}

.header-navigation {
  display: inline-block;
  margin-left: 10%;
  border-radius: 10px;
  font-size: 18px;
  vertical-align: bottom;
  margin-bottom: 20px;
  padding: 5px;
  .nav-button {
    height: 20px;
  }
  .search-bar {
    input[type=text] {
      background-image: url('/searchicon.png');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: right;
      border: 1px solid #888888;
      border-radius: 3px;
      padding-right: 30px;
      height: 25px;
      font-size: 18px;
      float: right;
      margin-left: 25px;
    }
  }
  .current {
    border-bottom: 3px solid #5c84bc;
    color: #5c84bc;
    padding-bottom: 3px;
  }
  a {
    text-decoration: none;
    font-family: 'Arial Rounded MT Bold';
    color: #808080;
    letter-spacing: 1.5px;
    padding: 15px;
    overflow: hidden;
    &:hover {
      padding-bottom: 3px;
      color: #5c84bc;
    }
    &:active {

    }
  }
}

.logo-container {
  display: inline-block;
  height: 100px;
  .logo {
    display: inline-block;
    padding: 10px;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
  }
  .logo-img{
    display: inline-block;
    vertical-align: middle;
  }
  .logo-title {
    display: inline-block;
    font-family: "Arial Rounded MT Bold";
    font-size: 26px;
    color: #5f6d85;
    vertical-align: bottom;
    letter-spacing: 1.8px;
  }
  a:visited {
    color: $header-font-color;
    text-decoration: none;
    &:hover {
      background-color: $header-background;
    }
  }
}
