/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */


 /*Pallette
 //aqua
 color: #2dc0ca;
 //blue suede
 color: #22537a;
 //raspberry
 color: #dd3b4c;
 // purple
 color: #5856d6;
 //yellow
 color: #f4bc26;
 //blue
 color: #34aedc; */

 body {
     overflow-x: hidden;
 }

 #notice {
   color: #dd3b4c;
 }

 .site-wrap {
     min-width: 100%;
     min-height: 100%;
     background-color: ;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 0;
 }

 .main {
   display: block;
   margin: auto;
   width: 100%;
   position: relative;
   top: 150px;
   background-color: ;
 }

.nav-underlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #22537a;
  opacity: 0.5;
  z-index: 2;
}

.navigation {
    font-family: "Palatino";
    font-size: 24px;
    color: #5856d6;
    list-style: none;
    background: #2dc0ca;
    width: 300px;
    height: 100%;
    right: 0px;
    top: -30px;
    padding: 30px;
    box-shadow: -1px 0px 1px 1px #111;
    padding-top: 100px;
    position: fixed;
    z-index: 2;
}

.navigation a {
  color: #22537a;
  text-decoration: none;
}

.navigation hr {
    display: block;
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 0;
    border-top: 2px solid #f4bc26;
}

/*.navigation a:hover {
  background-color: #ffffff;
}*/

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 30px;
    right: 45px;
    z-index: 3;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url("/menu.png");
    background-size: contain;
}

input[type=checkbox]:not(:checked) ~ .navigation {
    right: -100%;
}

input[type=checkbox]:not(:checked) ~ .nav-underlay {
    left: 100%;
}

input[type=checkbox]:checked ~ .nav-underlay {
    overflow: hidden;
}

input[type=checkbox]:checked ~ .site-wrap {
    position: fixed;
}

input[type=checkbox]:checked ~ label[for="nav-trigger"] {
    background-image: url("/close.png");
}
