.blog-list {
  padding-top: 30px;
}

.blog_cell {
  width: 75%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
  .blog_cell_img {
    max-width: 800px;
    border: 1px solid #C8C8C8;
  }
  .blog_cell_title {
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 190px;
    color: black;
    position: absolute;
    left: 700px;
    top: 50px;
  }
}
