// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  font-family: "Palatino";
}

th {
    font-size: 12px;
    text-align: left;
    color: #f4bc26;
}

td {
  font-size: 24px !important;
  padding: 20px !important;
  border-bottom: 1px solid white;
  color: #D3D3D3;
  a:link {
    color: #D3D3D3;
    text-decoration: none;
  }
  a:visited {
    color: #D3D3D3;
    text-decoration: none;
  }
  a:hover {
    background: #22537a;
    color: #f4bc26;
  }
}
