// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  border-radius: 5px;
  top: 20px;
  padding: 30px;
}

caption {
  text-align: left;
  color: #C0C0C0;
}

table {
  position: relative;
  top: 50px;
  border-collapse: collapse;
}

th {
    font-size: 8px;
    left: 25px;
    text-align: left;
    color: #f4bc26;
}

td {
  font-size: 24px !important;
  padding: 20px !important;
  border-bottom: 1px solid white;
  color: #D3D3D3;
  a:link {
    color: #D3D3D3;
    text-decoration: none;
  }
  a:visited {
    color: #D3D3D3;
    text-decoration: none;
  }
  a:hover {
    background: #22537a;
    color: #f4bc26;
  }
}
