// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

table {
  border-collapse: collapse;
  font-family: "Palatino";
}

th {
    font-size: 12px;
    text-align: left;
    color: #f4bc26;
}

td {
  font-size: 24px !important;
  padding: 20px !important;
  border-bottom: 1px solid white;
  color: #D3D3D3;
  a:link {
    color: #D3D3D3;
    text-decoration: none;
  }
  a:visited {
    color: #D3D3D3;
    text-decoration: none;
  }
  a:hover {
    background: #22537a;
    color: #f4bc26;
  }
}

.coin_info {
  background-color: #D3D3D3;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin: auto;
  strong {
    // //aqua
    // color: #2dc0ca;
    // //blue suede
    color: #22537a;
    // //raspberry
    // color: #dd3b4c;
    // // purple
    // color: #5856d6;
    // //yellow
    // color: #f4bc26;
    // //blue
    // color: #34aedc;
  }
  .coin-head {
    height: 55px;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    background-color: #f4bc26;
    .coin-head-left {
      position: absolute;
      left: 20px;
      @include vertical-align();
    }
    .coin-head-right {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

}
