// <main class="gallery">
//   <div class="gallery-cell">
//
//   </div>
//   <div class="gallery-cell"></div>
//   <div class="gallery-cell"></div>
//   <div class="gallery-cell"></div>
//   <div class="gallery-cell"></div>
//   <div class="gallery-cell"></div>
//   <div class="gallery-cell"></div>
// </main>

.gallery {
	// Flexbox Default/Fallback - does not produce 100% matching result
	display: flex;
	flex-wrap: wrap;

	// Check support for CSS Grid, if supported, do this block instead
	@supports ( display: grid ) {
		display: grid;
		grid-gap: 1rem;
		//grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
		grid-auto-rows: minmax(100px, 200px);
    padding-top: 15px;
    padding-bottom: 100px;
	}
}

// If we have to use flexbox, do this for the div
@supports not ( display: grid ) {
	.gallery-cell {
		flex: 1 0 auto;
		flex-wrap: wrap;
		margin: 5rem;
	}
}

.gallery-cell {
	border: 1px solid #333;
	background-color: #dd3b4c;
	background-size: cover;

	&:before {
		background: rgba(200, 26, 100, .6);
		color: #fff;
		display: block;
		font-size: 1rem;
		font-weight: 700;
		text-align: center;
	}
}
