
.news_cell {
  padding: 50px;
  border-bottom: 1px solid rgba(black, .25);
}

.news_description {
  font-size: 30px;
  width: 940px;
  img {
    float: right;
    margin: 4px 10px 0px 0px;
    border: 1px solid #000000;
  }
}
