<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>% change (24 hr)</th>
      </tr>
    </thead>

    <tbody>
      <% @coins.each do |coin| %>
        <tr>
          <td><%= link_to coin.name, coin %></td>
          <td><%= coin.ticker %></td>
          <td><%= coin.price %></td>
          <td><%= coin.percent_change %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
